.navegar {
    margin-left: 20%;
    margin-right: -100%;
    padding-left: 30%;
    
    display: block;
}


.paginado {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5% 5%;
}

#list {
    background-color: white;
    margin: 2%;
    list-style: none;
    padding: 2% 4%;
    border: 2px solid;
    border-color: red;
    border-radius: 10%;
    color: red
}

#boton {
    background-color: white;
    border: none;
    cursor: pointer;
    color: red;
    font-weight: bold
}