.all {
  margin-left: 10vw;
  padding-left: 10vw;
}

.cards {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  grid-template-rows: 20vw 20vw 20vw;
  
}

.button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
 margin-left: 34vw;
 padding: 1% 10%;
 border-color: red;
 border-radius: 7%;
 background-color: white;
 color: red;
 font-weight: bold
}

.space {
  padding-bottom: 3%;
}


@media (min-width: 0px) and (max-width: 412px) {
  .all {
    display: flex;
    flex-direction: column;
    padding-top: 22vh;
    margin-left: 0vw;
   padding-left: 20vw;
  }

  .cards {
    display: flex;
    flex-direction: column;
    height: 100%;
  
  }

  .button {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
   margin-left: 8vw;
   margin-top: 1vh;
   padding: 10% 50%;
   border-color: red;
   border-radius: 7%;
   background-color: white;
   color: red;
   font-weight: bold
  }
}