.formulario {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 20%;
    padding: 3%;
    margin-left: 1%;
}

#boton {
    padding: 0% 5%;
    margin-left: 1%
}

#buton {
    padding: 2% 4%;
    
}

@media (min-width:0px) and (max-width: 412px) {
    .formulario {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
       
    }

    #buton {
        padding: 0%
        
    }
}