.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  background-color: #e3350d;
  align-items: space-between;
}

#img {
  width: 100%;
}

#divimg {
  padding: 2%;
  margin-bottom: 10%;
}

#search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  padding-left: 0%;
  padding-top: 5%;
  margin-bottom: 15%;
}

#filter {
  justify-content: center;
  width: 100%;
  margin-bottom: 50%;
}

#button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5% 0%;
}

.create {
  padding: 1% 40%;
  margin-left: -20%;
  background-color: #e3350d;
  border: 2px solid;
  border-color: white;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
