.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("../../images/Landing/Siluetas.jpg");
  background-position-x: 50%;
}

#img {
  padding-top: 38%;
  max-height: 150px;
  max-width: 150px;
  position: absolute;
  padding-left: 20vh;
}

#enter {
  padding-bottom: 20%;
  margin-right: 5%;
  padding-left: 10%;
  position: absolute;
}

#button {
  margin-bottom: 1%;
  padding-left: 100%;
  padding-right: 100%;
  background-color: white;
  border: 5px solid;
  border-color: #982107;
  border-radius: 5px;
  padding: 5px;
  font-family: "pokemonclassic";
}
